.popup {
    position: fixed;
    width: 50%;
    height: 80%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: rgba(0,0,0, 0.85);
}

.popupButton{

    background: white;
    color: #424242;
    border-width: 0px 0px 0px 0px;
    margin-bottom: 10px;
    margin-top: 10px;
    height: 5vh;
    width: auto;
    font-size: 1vw;


}

.popup\_inner {
    position: absolute;
    left: 25%;
    right: 25%;
    top: 25%;
    bottom: 25%;
    margin: auto;
    border-radius: 20px;
    background: white;
}