.Content{
  background-color: #2b3b41;
  font-family: Roboto,'Franklin Gothic Medium',Tahoma,sans-serif;
}


.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: white;

}

.displaySize{
  width: 100%;

}

p, h2{
  cursor: default;
}

.searchStyle{
  
  align-items: center;
  text-align: center;
  color: white;
}


