.header {
    background-color: #1c272b;
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    padding-left: 2vw;
    color: white;
    letter-spacing: 1vh;
  }

.App-header {
    align-self: center;
}

.toggle {
    align-self: center;
    width: 100%;
}